<!DOCTYPE html>
<html lang="ko">
    
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width, initial-scale=1">
        
        <title>SMASH CARE MOVEMENT</title>
        
        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        
        <!-- Custom CSS -->
        <link href="css/table.css" rel="stylesheet">
        
        <!-- JQuery -->
        <script src="js/jquery-3.2.1.min.js"></script>
        
        <script>
            
            
            jQuery(document).ready(function() {
                /* 기기 종류에 따라 아이디 이미지 자동 설정 */
                $('tbody tr').each(function() {
                    var td = $(this).children();
                    if(td.eq(1).text() == '포스터 기기') {
                        td.eq(0).children().attr('src', 'img/poster_icon.png');
                        td.eq(1).css('color', '#f8b500');
                    } else if(td.eq(1).text() == '환자 식별 기기') {
                        td.eq(0).children().attr('src', 'img/man_icon.png');
                        td.eq(1).css('color', '#7fbe26');
                    }
                });
                
                /* 검색창 포커스인 포커스 아웃 효과 */
                $('input').focusin(function() {
                    $('.search').css('border-color', '#00afec');
                    $('.search').css('box-shadow', '0 0 15px rgba(0, 175, 236, 0.5)');
                    
                    $('input').focusout(function() {
                        $('.search').css('border-color', '#e0e0e0');
                        $('.search').css('box-shadow', 'none');
                    });
                });
                
                /* 검색 기능 */
                var search = function() {
                    var id = $('input').val();
                    $('tbody tr').hide();
                    var item = $("tbody > tr > td:nth-child(4n+1):contains('" + id + "')");
                    
                    $(item).parent().show();
                };
                /* 버튼 눌렀을때 검색 */
                $('#search_btn').click(function() {
                    search();
                });
                /* 엔터 눌렀을때 검색 */
                $('input').keydown(function (key) {
                    if(key.keyCode == 13){
                        search();
                    }
                });
            });
        </script>  
        
    </head>
    
    <body>
    <% if (errcheck) { %>
 	    <script>
            alert("환자가 사용중인 기기라 삭제할 수 없습니다.");
	   </script>
    <% }else if(deletecheck){ %>
        <script>
            alert("삭제가 완료되었습니다.");
	   </script>
    <% } %>
    <div class="wrap">
        
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <!-- 브랜드 로고 -->
                <div class="navbar-brand"><img src="img/nav_brand.png" width="300px"></div>
                <!-- 메뉴 -->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <!-- 홈 링크 -->
                            <a class="nav-link currnet" onclick="location.href='/admin'">홈으로</a>
                        </li>
                        <li class="nav-item">
                            <!-- 기기 관리 링크 -->
                            <a class="nav-link" onclick="location.href='/devicemanager'">기기 관리</a>
                        </li>
                        <li class="nav-item">
                            <!-- 계정 관리 링크 -->
                            <a class="nav-link" onclick="location.href='/doctor_manage'">계정 관리</a>
                        </li>
                        <li class="nav-item active">
                            <!-- 기기 개통 링크 -->
                            <a class="nav-link" onclick="location.href='/man_opening'">기기 개통</a>
                        </li>
                    </ul>
                    <!-- 계정 아이디 -->
                    <div class="my-auto profile">
                        <img src="img/defualt_profile.png" class="rounded-circle my-auto" width="26px" height="26px">
                        <!-- 비민번호 변경 링크 -->
                        <a class="nav-link my-auto" onclick="location.href='/adminpass'"><%= name %></a>
                    </div>
                </div>
            </div>
        </nav>
    
        <!-- Table -->
        <div class="content mx-auto">
            <div class="container my-auto">
                <!-- Table Head -->
                <div class="row content_head">
                    <!-- 제목 -->
                    <div class="col-lg-3 content_title">
                        <p>기기 관리</p>
                    </div>
                    <!-- 검색 -->
                    <div class="col-lg-7">
                        <div class="search">
                            <input type="text" placeholder="기기 아이디를 입력하세요.">
                            <input type="submit" class="my-auto mx-auto search_btn" id="search_btn" value="">
                        </div>
                    </div>
                    <!-- 등록 -->
                    <div class="col-lg-2">
                        <button class="add_btn" onclick="location.href='/deviceAdd'">+ 등록하기</button>
                    </div>
                </div>
            </div>
            
            <!-- Table Body -->
                <table class="table device_manage">
                    <thead>
                        <tr>
                            <th>기기 아이디</th>
                            <th>기기 종류</th>
                            <th>기기 상태</th>
                            <th>수정 / 삭제</th>
                        </tr>
                    </thead>
                    <!-- 테이블 내용 -->
                    <tbody>
                        <%  data.forEach(function (item, index) { %> 
                        <tr>
                            <td>
                                <!-- 기기 아이디 -->
                                <!-- img의 src는 기기 종류에 입력되는 값에 따라 자동으로 설정 됩니다 -->
                                <img width="30px" height="30px">
                                <%= item.deviceNumber %>
                            </td>
                            <!-- 기기 종류 -->
                            <!-- 기기 종류는 '포스터 기기' 혹은 '환자 식별 기기'로 합니다. 그렇지 않으면 기기 아이디에서 이미지 자동 선택할 수 없습니다. -->
                            <td><%= item.sort %></td>
                            <td>
                                <!-- 기기 상태 -->
                                <% if(item.activated){ %>
                                    <img src="img/net_icon.png" width="30px">
                                    개통됨
                                <% } %>
                            </td>
                            <td>
                                <!-- 수정 삭제 버튼 -->
                                <form method="post">
                                    <input type="hidden" value="<%= item.deviceNumber %>" name ="deviceNumber">
                                    <input type="hidden" value="edit" name ="type">
                                    <input type='submit' class="btn_enable" value="수정하기"/>
                                </form>
                                <form id="delete" method="post">
                                    <input type="hidden" value="<%= item.deviceNumber %>" name ="deviceNumber">
                                    <input type="hidden" value="delete" name ="type">
                                    <input type="submit" class="btn_enable" value="삭제하기" onClick="javascript:formChk()">
                                </form>
                            </td>
                        </tr>
                        <% }); %> 
                        <!-- Sample -->
                    </tbody>
                </table>
        </div>
        
    </div>
    </body>
    
</html>