<!DOCTYPE html>
<html> 
<head> 
<title>기기관리</title> 
<script language='javascript'>
 function formChk(){
    if(confirm("삭제하시겠습니까?")){
        document.getElementById('delete').submit();
      document.delete.submit(); 
    }
 }
</script>
</head> 
<body> 
<h1>기기관리</h1> 
<hr/>
   <input type='button' value="기기등록" onclick="location.href='/deviceAdd'"/>
<table width="100%" border="1"> 
<tr> <th>기기아이디</th> <th>기기종류</th> <th>기기상태</th>  <th>수정/삭제</th> 
</tr> 
<%  data.forEach(function (item, index) { %> 
<tr> 
<td><%= item.deviceNumber %></td> 
<td><%= item.sort %></td> 
<td><%= item.activated %></td> 
<td>
<form method="post">
<input type="hidden" value="<%= item.deviceNumber %>" name ="deviceNumber">
<input type="hidden" value="edit" name ="type">
<input type='submit' value="수정"/>
</form>
<form id="delete" method="post">
<input type="hidden" value="<%= item.deviceNumber %>" name ="deviceNumber">
<input type="hidden" value="delete" name ="type">
<input type="button" value="삭제" onClick="javascript:formChk()">
</form>
</td>
</tr> 
<% }); %> 
</table> 
</body> 
</html>
