<!DOCTYPE html>
<html> 
<head> 
<title>기기등록</title> 
</head> 
<body> 
<h1>기기수정</h1> 
<form method="post">
           <div>
                <label>기기 아이디</label>
                <input type='text' name="deviceNumber" value="<%= deviceNumber %>"/>
            </div>
            <div>
                <label>기기 종류</label>
                <input type='text' name="sort" value="<%= sort %>"/>
            </div>
            <div>
			    <label>기기 버전</label>
                <input type='text' name="version" value="<%= version %>"/>
            </div>
            <div>
                <label>IP4</label>
                <input type='text' name="ipv4_address" value="<%= ipv4_address %>"/>
            </div>
            <div>
                <label>IP6</label>
                <input type='text' name="ipv6_address" value="<%= ipv6_address %>"/>
            </div>
            <div>
                <label>기기상태</label>
                <input type='text' name="activated" value="<%= activated %>"/>
            </div>
            <div>
                <label>설치 장소</label>
                <input type='text' name="place" value="<%= place %>"/>
            </div>
            <input type="submit" value="등록하기"/>
       </form>  
</body> 
</html>
