<!DOCTYPE html>
<html lang="ko">
    
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device=width, initial-scale=1">
        
        <title>SMASH CARE MOVEMENT</title>
        
        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        
        <!-- Custom CSS -->
        <link href="css/table.css" rel="stylesheet">
                <!-- Bootstrap JS -->
        
        <!-- JQuery -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.bundle.js"></script>
        
        <!-- Chart JS -->
        <script src="js/chart/Chart.js"></script>
        
        <script>
            function formChk(){
                alert("삭제가 완료되었습니다.");
            }
            jQuery(document).ready(function() {
                /* 검색창 포커스인 포커스 아웃 효과 */
                $('input').focusin(function() {
                    $('.search').css('border-color', '#00afec');
                    $('.search').css('box-shadow', '0 0 15px rgba(0, 175, 236, 0.5)');
                    
                    $('input').focusout(function() {
                        $('.search').css('border-color', '#e0e0e0');
                        $('.search').css('box-shadow', 'none');
                    });
                });
                
                /* 모달 제목 자동 설정 */
                
                $('.patient_manage a').click(function() {

            // -- Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#292b2c';
            // -- Area Chart Example
            var ctx = document.getElementById("myAreaChart");
            
       var myLineChart = new Chart(ctx, {
              type: 'line',
              data: {
                  /* x축 항목 */
                labels: ["may 1", "may 2"],
                datasets: [{
                  label: "Sessions",
                  lineTension: 0.0,
                  backgroundColor: "rgba(2,117,216,0.2)",
                  borderColor: "rgba(2,117,216,1)",
                  pointRadius: 5,
                  pointBackgroundColor: "rgba(2,117,216,1)",
                  pointBorderColor: "rgba(255,255,255,0.8)",
                  pointHoverRadius: 5,
                  pointHoverBackgroundColor: "rgba(2,117,216,1)",
                  pointHitRadius: 20,
                  pointBorderWidth: 2,
                    /* 데이터 값 */
                  data: [10, 10],
                }],
              },
              options: {
                scales: {
                  xAxes: [{
                    time: {
                      unit: 'date'
                    },
                    gridLines: {
                      display: false
                    },
                    ticks: {
                      maxTicksLimit: 7
                    }
                  }],
                  yAxes: [{
                    ticks: {
                        /* y축 항목 */
                      min: 0,
                      max: 40000,
                      maxTicksLimit: 5
                    },
                    gridLines: {
                      color: "rgba(0, 0, 0, .125)",
                    }
                  }],
                },
                legend: {
                  display: false
                }
              }
            });

                    var name = $(this).text() + ' 환자 운동량';
                    $('.patient_name').text(name);
                    console.log(name);
                    
                });
                
                /* 검색 기능 */
                var search = function() {
                    var id = $('input').val();
                    $('tbody tr').hide();
                    var item = $("tbody > tr > td:nth-child(5n+2):contains('" + id + "')");
                    
                    $(item).parent().show();
                };
                /* 버튼 눌렀을때 검색 */
                $('#search_btn').click(function() {
                    search();
                });
                /* 엔터 눌렀을때 검색 */
                $('input').keydown(function (key) {
                    if(key.keyCode == 13){
                        search();
                    }
                });
            });
        </script>  
        
    </head>
    
    <body>
    <div class="wrap">
        
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <!-- 브랜드 로고 -->
                <div class="navbar-brand"><img src="img/nav_brand.png" width="300px"></div>
                <!-- 메뉴 -->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <!-- 홈 링크 -->
                            <a class="nav-link currnet" onclick="location.href='/medic'">홈으로</a>
                        </li>
                        <li class="nav-item">
                            <!-- 계정 관리 링크 -->
                            <a class="nav-link" onclick="location.href='/patient_manage'">환자 관리</a>
                        </li>
                        <li class="nav-item active">
                            <!-- 기기 개통 링크 -->
                            <a class="nav-link" onclick="location.href='/doctor_opening'">기기 개통</a>
                        </li>
                    </ul>
                    <!-- 계정 아이디 -->
                    <div class="my-auto profile">
                                <img src="img/defualt_profile.png" class="rounded-circle my-auto" width="26px" height="26px">
                                <!-- 관리자 비밀번호 변경 링크 -->
                                <a id="dropdownMenu" data-target="#" data-toggle="dropdown" aria-haspopup="true" class="nav-link my-auto dropdown-toggle" href="#">
                                    <%= name %> <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="/changemedic">개인정보 변경</a></li>
                                    <li><a href="/logout">로그아웃</a></li>
                                </ul>
                            </div>
                </div>
            </div>
        </nav>
    
        <!-- Table -->
        <div class="content mx-auto">
            <div class="container my-auto">
                <!-- Table Head -->
                <div class="row content_head">
                    <!-- 제목 -->
                    <div class="col-lg-3 content_title">
                        <p>환자 관리</p>
                    </div>
                    <!-- 검색 -->
                    <div class="col-lg-7">
                        <div class="search">
                            <input type="text" placeholder="환자 이름을 입력하세요.">
                            <input type="submit" class="my-auto mx-auto search_btn" id="search_btn" value="">
                        </div>
                    </div>
                    <!-- 등록 -->
                    <div class="col-lg-2">
                        <button class="add_btn" onclick="location.href='/patient_add'">+ 등록하기</button>
                    </div>
                </div>
            </div>
            
            <!-- Table Body -->
                <table class="table patient_manage">
                    <thead>
                        <tr>
                            <th>환자 번호</th>
                            <th>환자 이름</th>
                            <th>병명</th>
                            <th>등록기기</th>
                            <th>수정 / 삭제</th>
                        </tr>
                    </thead>
                    <!-- 테이블 내용 -->
                    <tbody>
                        <!-- Sample -->
                        <%  data.forEach(function (item, index) { %> 
                        <tr>
                            <!-- 환자 번호 -->
                            <td><%= item.patientNumber %></td>
                            <td>
                                <!-- 환자 이름 -->
                                <img width="30px" height="30px" src="img/defualt_profile.png" class="rounded-circle">
                                <a href="" data-toggle="modal" data-target="#Modal"><%= item.patientName %></a>
                            </td>
                            <!-- 병명 -->
                            <td><%= item.disease %></td>
                            <!-- 등록기기 -->
                            <% if(item.deviceNumber != null){ %>
                            <td>
                            <img src="img/man_icon.png" width="30px">
                            <%= item.deviceNumber %>
                            </td>
                            <% }else{ %>
                            <td>
                            </td>
                            <% } %>
                            <td>
                                <!-- 수정 삭제 버튼 -->
                                <form method="post">
                                    <input type="hidden" value="<%= item.patientNumber %>" name ="patientNumber">
                                    <input type="hidden" value="edit" name ="type">
                                    <input type='submit' class="btn_enable" value="수정하기"/>
                                </form>
                                <form id="delete" method="post">
                                    <input type="hidden" value="<%= item.patientNumber %>" name ="patientNumber">
                                    <input type="hidden" value="delete" name ="type">
                                    <input type="submit" class="btn_enable" value="삭제하기" onClick="javascript:formChk()">
                                </form>
                            </td>
                        </tr>
                        <% }); %> 
                        <!-- Sample -->
                    </tbody>
                </table>
        </div>
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- 모달 제목으로 환자이름 자동 설정 -->
                        <h5 class="modal-title" id="ModalLabel"><span class="patient_name">Modal title</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <canvas id="myAreaChart" width="100%" height="30"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            // Chart.js scripts

        </script>
    </body>
    
</html>